.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  font-family: 'Barlow';
}
.phone a, .email a, .social-links .fa:before  {
  text-decoration: none;
}
.social-links li, .contacts li {
  list-style: none;
  display: inline-block;
  text-align: left;
  padding: 0 10px;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical alignment */
  align-items: center; /* horizontal alignment */
  background-image: url('/src/images/big-10.jpg');
  margin-top: -69px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 660px;
  padding: 0 90px;
}
ul.contacts {
  padding-left: 0;
  text-align: left;
}
ul.social-links {
  text-align: right;
}
.main-content {
  min-height: 440px;
}
nav {
  width: 70%;
}
.sitelink{
  color: #fff;
  text-decoration: none;
}
.bottom-bar {
  padding-top: 40px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-header, .nav-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.nav-header a{
  color: white;
}
.nav-header ul{
  justify-content: flex-end;
}
.nav-footer a{
  color: #646464;
}
.nav-footer ul{
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
