.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'PlayfairDisplay-Regular';
}
p, a, ul, button{
  font-family: 'Barlow';
}
button{
  background: #FF5000;
  border: 0;
  color: #fff;
  padding: 9px 17px;
  border-radius: 2px;
  cursor:pointer;
}
.phone a, .email a  {
  color: #646464;
  text-decoration: none;
}
.main-content {
  min-height: 440px;
}
nav {
  width: 80%;
}
ul.navigation {
  list-style: none;
}
ul.navigation a {
  text-decoration: none;
  color: #fff;
}
ul.navigation {
  display: flex;
  justify-content: space-evenly;
}
.sitelink{
  color: #fff;
  text-decoration: none;
}
footer.App-footer {
  background: #eee;
  padding: 1px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
